html, body {
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: white;
}

main {
    width: 410px;
    height: 180px;
    background-color: mintcream;
    font-family: 'Courier New', Courier, monospace;
    color: navy;
    border-radius: 20px;
    border: 3px solid navy;
    text-align: left;
    padding-left: 20px;
}

input {
    width: 80px;
}

select {
    font-size: 120%;
    margin-right: 10px;
}

button, #addOutput, #subOutput, #mulOutput, #divOutput, #output {
    display: inline;
}

#output {
    margin-left: 20px;
    font-size: 115%;
    font-weight: bold;
    border: 2px solid palevioletred;
    padding: 6px;
}

#addOutput {
    margin-left: 20px;
    font-size: 115%;
}

#subOutput {
    margin-left: 20px;
    font-size: 115%;
}

#mulOutput {
    margin-left: 20px;
    font-size: 115%;
}

#divOutput {
    margin-left: 20px;
    font-size: 115%;
}